.collection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: orange;
}

.formBase {
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 80vh;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.form {
    width: 50%;
}

.card {
    width: 50%;
}

.filterBase {
    margin-top: 20px;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}