.baseCard {
    align-items: center;
    background: #371700;
    border: 10px solid #a54500f6;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    height: 514.86px;
    margin: 2%;
    position: absolute;
    width: 338.7px;
  }
  
  .upCard {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 11px;
    display: flex;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.7));
    flex-flow: wrap;
    height: 55%;
    margin-top: 5%;
    width: 309px;
  }
  
  .cabCard {
    background: linear-gradient(180deg, #e86100 68.23%, rgba(21, 14, 8, 0) 100%);
    border-radius: 9px 11px 0 0;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .rarityCard {
    margin-bottom: 10%;
    margin-left: 2%;
    top: 40px;
    width: 40%;
  }
  
  .nameCard {
    display: flex;
    justify-content: end;
    margin-right: 2%;
    width: 60%;
  
  }
  
  .imageCard {
    border-radius: 11px;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  
  .btpartCard {
    background: radial-gradient(50% 50% at 50% 50%, #c7c6c6 0%, #8372699e 100%);
    border: 1px solid black;
    border-radius: 6px;
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.7));
    height: 36%;
    margin-top: 10px;
    width: 89%;
  }
  
  .divDescript {
    height: 20%;
    max-height: 20%;
    max-width: 100%;
  }
  
  .descriptionCard {
    color: white;
    font-size: 80%;
    font-style: normal;
    font-weight: 300;
    line-height: 50%;
    max-height: 10%;
    padding: 0 4%;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    word-wrap: break-word;
  }
  
  .atributeCardClass {
    color: white;
    display: flex;
    justify-content: space-around;
  }
  
  .atributeCardClass p {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  
  .AtribCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 4%;
    text-align: center;
  }
  
  .atributeCard2 {
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #b72c00 0%, #822204 80.21%);
    border: 1px solid #670000;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 20px;
    height: 65px;
    justify-content: center;
    width: 65px;
  }
  
  .atributeCard1 {
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #0096b7 51.56%, #017c97 100%);
    border: 1px solid #012e72;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 20px;
    height: 65px;
    justify-content: center;
    width: 65px;
  }
  
  .atributeCard3 {
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #039b1b 42.19%, #017413 100%);
    border: 1px solid #046302;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    display: flex;
    font-size: 20px;
    height: 65px;
    justify-content: center;
    width: 65px;
  }