.appB {
  background-color: white;
  border-radius: 1%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: space-between;
  margin: 20px;
  padding: 10px;
}

.formArea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

.cardArea {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: end;
  width: 50%;
}

.cards {
  background-color: aqua;
  height: 900px;
  width: 80%;
}

.cardList {
  background-color: cornflowerblue;
  display: flex;
  height: 100%;
  width: 100%;
}

.CardsOfList {
  align-items: center;
  background-color: blue;
  display: flex;
  height: 514.86px;
  justify-content: center;
  margin: 2%;
  width: 338.7px;
}
